---
const year = new Date().getFullYear();
---
<footer class="footer">
  <div class="footer__top">
    <div>
      <img src="/assets/logo.png" class="footer__brand-logo" alt="Hit Your Mark Travel" width="64" height="64" loading="lazy">
      <div class="footer__tagline">Hit Your Mark Travel</div>
      <div class="footer__contact">
        <a href="tel:+14085681404">(408) 568-1404</a><br>
        <a href="mailto:mark@hymtravel.com">mark@hymtravel.com</a><br>
        <a href="https://www.hymtravel.com">hymtravel.com</a>
      </div>
    </div>
    <div>
      <div class="footer__col-title">Experiences</div>
      <ul class="footer__links">
        <li><a class="footer__link" href="/experiences/beach-island-escapes/">Beach &amp; Island Escapes</a></li>
        <li><a class="footer__link" href="/experiences/all-inclusive-vacations/">All-Inclusive Vacations</a></li>
        <li><a class="footer__link" href="/experiences/cruises/">Cruises &amp; Yachts</a></li>
        <li><a class="footer__link" href="/experiences/wellness-retreat-travel/">Wellness &amp; Retreats</a></li>
        <li><a class="footer__link" href="/experiences/safari-wildlife-travel/">Safari &amp; Wildlife</a></li>
        <li><a class="footer__link" href="/experiences/romance-celebration-travel/">Romance &amp; Celebration</a></li>
      </ul>
    </div>
    <div>
      <div class="footer__col-title">Destinations</div>
      <ul class="footer__links">
        <li><a class="footer__link" href="/destinations/caribbean-mexico/">Caribbean &amp; Mexico</a></li>
        <li><a class="footer__link" href="/destinations/europe/">Europe</a></li>
        <li><a class="footer__link" href="/destinations/africa/">Africa</a></li>
        <li><a class="footer__link" href="/destinations/asia/">Asia</a></li>
        <li><a class="footer__link" href="/destinations/south-pacific/">South Pacific</a></li>
        <li><a class="footer__link" href="/destinations/middle-east/">Middle East</a></li>
        <li><a class="footer__link" href="/destinations/north-america/">North America</a></li>
        <li><a class="footer__link" href="/destinations/south-america/">South America</a></li>
        <li><a class="footer__link" href="/destinations/polar-regions/">Polar Regions</a></li>
      </ul>
    </div>
    <div>
      <div class="footer__col-title">Plan Your Trip</div>
      <ul class="footer__links">
        <li><a class="footer__link" href="/plan-your-trip/">Start Planning</a></li>
        <li><a class="footer__link" href="/plan-your-trip/?type=group">Group Travel Inquiry</a></li>
        <li><a class="footer__link" href="/plan-your-trip/?type=honeymoon">Honeymoon Inquiry</a></li>
        <li><a class="footer__link" href="/faq/">FAQ</a></li>
      </ul>
    </div>
    <div>
      <div class="footer__col-title">Company</div>
      <ul class="footer__links">
        <li><a class="footer__link" href="/about/">About Mark</a></li>
        <li><a class="footer__link" href="/about/#process">Travel Planning Process</a></li>
        <li><a class="footer__link" href="/travel-journal/">Travel Journal</a></li>
        <li><a class="footer__link" href="/privacy-policy/">Privacy Policy</a></li>
        <li><a class="footer__link" href="/terms-and-conditions/">Terms &amp; Conditions</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__legal">
      CA Seller of Travel: 2165910-50 &nbsp;·&nbsp; WA Seller of Travel: 605920581 &nbsp;·&nbsp; FL Seller of Travel: ST46122
    </div>
    <div class="footer__copy">Hit Your Mark Travel © {year}</div>
  </div>
</footer>
